// -----------------------------------------------------------------------------
// CAMPAIGN: COMPANIES
// -----------------------------------------------------------------------------


.campaign {
  &--info {
    .campaign-followme {
      display: none;
      
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    
    .footer-campaign {
      margin-bottom: rem(74px);
      
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }
}
