// -----------------------------------------------------------------------------
// HOME: TRAINING
// -----------------------------------------------------------------------------

.home-training {
  margin-bottom: 145px;
  padding-bottom: 15px;
  
  
  // Header
  // -----------------------------------------------------------------------------  
  &__header {
    @include rem(max-width, 450px);
    // margin: 0 auto 110px;
    margin: 25px auto 110px;
    text-align: center;
  }


  // Logo
  // -----------------------------------------------------------------------------
  &__logo {
    display: block;
    width: 81px;
    height: 82px;
    margin: 0 auto 6px;
    background: url('../images/logos/cb-color.png') no-repeat;
    background-size: 71px 72px;
  }


  // Training list
  // -----------------------------------------------------------------------------
  &__list {
    .training-card {
      &:nth-child(2)::before { background-color: $purple-200 }
      &:nth-child(3)::before { background-color: $green-200 }
      &:nth-child(4)::before { background-color: $blue-200 }
      &:nth-child(5)::before { background-color: $purple-200 }
      &:nth-child(6)::before { background-color: $green-200 }
    }
  }


  // @media Smartphone only
  // -----------------------------------------------------------------------------
  @include media-breakpoint-down(sm) {
    > .container {
      padding: 0;
    }
    &__header {
      p {
        @include sr-only;
      }
    }
  }


  // @media Tablet to up
  // -----------------------------------------------------------------------------
  @include media-breakpoint-up(md) {
    padding-bottom: 195px;
    &__header {
      margin-top: 0;
    }
    &__heading {
      @include underline-heading();
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-right: -$grid-gutter-md;
      margin-left: -$grid-gutter-md;

      .training-card {
        flex: 1 0 50%;
        max-width: 50%;
        
        &:nth-child(2)::before { background-color: $blue-200 }
        &:nth-child(3)::before { background-color: $green-200 }
        &:nth-child(4)::before { background-color: $purple-200 }
        &:nth-child(5)::before { background-color: $purple-100 }
        &:nth-child(6)::before { background-color: $green-300 }
      }

    }
  }


  // @media Desktop to up
  // -----------------------------------------------------------------------------
  @include media-breakpoint-up(lg) {
    margin-top: -100px;
    
    &__list {
      margin-right: 0;
      margin-left: 0;
      .training-card {
        flex-basis: span(4);
        max-width: none;
        &:nth-child(3) {
          margin-top: -30px;
        }
        &:nth-child(4) {
          margin-left: 0;
        }
        &:nth-child(4),
        &:nth-child(5) {
          margin-top: -30px;
        }
        &:nth-child(5)::before {
          min-height: 690px;
        }
        &:nth-child(6) {
          margin-top: 10px;
        }
      }
    }

  }

  @include media-breakpoint-up(xl) {
    &__list {
      .training-card {    
        &:nth-child(5)::before {
          min-height: 615px;
        }
      }
    }
  }
}