// -----------------------------------------------------------------------------
// TESTIMONIALS
// -----------------------------------------------------------------------------

.testimonial {
  $self: &;

  &__header {
    @include rem(max-width, 700px);
    position: relative;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
  }

  &__icon {
    display: block;
    width: 43px;
    height: 35px;
    margin: 0 auto 7px;
    background: url('../images/icons/graduation-hat.svg') no-repeat;
  }

  &__heading {
    @include underline-heading();
    color: $purple-200;
  }

  // @media Desktop Full HD to up
  // -----------------------------------------------------------------------------
  @media screen and (min-width: 1420px) {
    // Igual que en cb-numbers, dejar el valor en px
    body:not(.incompany__page) & {
      margin-top: -9.5rem;
    }
  }

  // MODIFERS
  &--bootcamp {
    @include rem(margin-bottom, 32px);
    margin-top: 2.5rem !important;

    @media screen and (min-width: 1420px) {
      margin-top: -6.5rem !important;
      margin-bottom: 5rem;
    }

    #{$self}__icon {
      background: url('../images/icons/graduation-hat-bootcamp.svg') no-repeat;
    }

    #{$self}__heading {
      @include underline-heading();
      color: $emerald-300;
    }

    .slider-bootcamp {
      @include rem(margin-top, 30px);
      background: $emerald-100 url('../images/bg-testimonials-bootcamp.jpg')
        no-repeat 90% bottom;
      position: relative;

      @include media-breakpoint-up(md) {
        @include rem(margin-top, 35px);
        background-position: 90% top;
      }
      @include media-breakpoint-up(lg) {
        background-position: 100% top;
      }

      &::after {
        content: '';
        display: block;
        width: 100vw;
        height: 1.125rem;
        background-color: rgba($white, 0.56);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      display: flex !important;
      justify-content: center;
      height: inherit !important;

      > div {
        text-align: center;
      }

      img {
        @include rem(height, 261px);
        width: 100%;
        object-fit: cover;

        @include media-breakpoint-up(md) {
          height: 100%;
        }
        @include media-breakpoint-up(lg) {
          @include rem(height, 449px);
        }
      }
    }

    .slick-prev {
      display: none !important;
    }

    .slick-next {
      height: 40px;
      right: 50%;
      top: 240px;
      transform: translateX(50%);

      @include media-breakpoint-up(md) {
        top: 50%;
        transform: translate(50%, -50%);
      }
      // @include media-breakpoint-up(lg) {
      //   @include rem(transform, translate(calc(50% + 60px), -50%));
      // }
    }

    .slick-arrow::before {
      color: $emerald-100;
    }

    .slider__item {
      width: 100%;
      height: 100%;
      max-width: 1280px;

      @include media-breakpoint-up(md) {
        display: flex !important;
        margin: 0 auto;
      }
      // @include media-breakpoint-up(lg) {
      //   @include rem(transform, translateX(60px));
      // }

      &__content {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
      }
    }

    .slider__image-wrapper {
      flex-grow: 1;
      display: block;

      @include media-breakpoint-up(md) {
        flex-basis: 50%;
        border-right: 1px solid $white;
      }
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $white;
      }
    }

    .slider__info {
      @include rem(padding, 44px 14px 74px);
      flex-grow: 1;
      text-align: left;

      @include media-breakpoint-up(md) {
        @include rem(padding, 48px 56px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;
      }
    }

    .slider__name {
      padding: 0;
      margin-bottom: 1.25rem;
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
      color: $white;
      line-height: 1.5;

      &::after {
        display: none;
      }
    }

    .slider__career {
      color: $emerald-300;
      font-weight: $font-weight-normal;
    }

    .slider__quote {
      padding: 0;
      margin-bottom: 0;
      color: $white;

      @include media-breakpoint-up(md) {
        @include rem(max-width, 429px);
      }

      > p:last-child {
        margin: 0;
      }
    }
  }
}
