$icomoon-font-family: 'campusboream' !default;
$icomoon-font-path: 'fonts' !default;

$icon-hundred: '\e950';
$icon-koa: '\e94b';
$icon-travis: '\e94c';
$icon-sass: '\e94a';
$icon-apirestful: '\e943';
$icon-atomic-design: '\e944';
$icon-chrome-tools: '\e945';
$icon-expressjs: '\e946';
$icon-heroku: '\e947';
$icon-mongodb: '\e948';
$icon-angular: '\e900';
$icon-bootcamp: '\e90b';
$icon-bootcamp-circle: '\e901';
$icon-react: '\e92b';
$icon-vue: '\e937';
$icon-docker: '\e936';
$icon-accessibilty: '\e924';
$icon-css: '\e925';
$icon-git: '\e926';
$icon-html5: '\e927';
$icon-javascript: '\e928';
$icon-nodejs: '\e929';
$icon-polymer: '\e92a';
$icon-es6: '\e93e';
$icon-gulp: '\e93f';
$icon-ngrx: '\e940';
$icon-redux: '\e941';
$icon-typescript: '\e942';
$icon-help: '\e94e';
$icon-requirements: '\e94f';
$icon-pencil-clock: '\e93d';
$icon-check: '\e939';
$icon-envelope: '\e93a';
$icon-envelope-tick: '\e94d';
$icon-phone-office: '\e93b';
$icon-building: '\e93c';
$icon-monitor: '\e92f';
$icon-folder: '\e930';
$icon-rack: '\e931';
$icon-euro-circle: '\e92e';
$icon-rocket: '\e92c';
$icon-user-change: '\e92d';
$icon-instagram-circle: '\e938';
$icon-facebook-circle: '\e921';
$icon-linkedin-circle: '\e922';
$icon-twitter-circle: '\e923';
$icon-minus-circle: '\e91f';
$icon-plus-circle: '\e920';
$icon-bars: '\e91e';
$icon-battery: '\e90d';
$icon-business-man: '\e90e';
$icon-alarm-clock: '\e91d';
$icon-calendar-clock1: '\e90f';
$icon-code: '\e910';
$icon-coffee: '\e911';
$icon-comment-question: '\e912';
$icon-comments: '\e913';
$icon-cutlery: '\e914';
$icon-download: '\e915';
$icon-graduation-hat: '\e916';
$icon-laptop: '\e917';
$icon-terminal: '\e918';
$icon-user-card: '\e919';
$icon-user-links: '\e91a';
$icon-user-question: '\e91b';
$icon-file-pdf: '\e91c';
$icon-calendar-clock: '\e90c';
$icon-chevron-left-circle: '\e932';
$icon-chevron-right-circle: '\e933';
$icon-chevron-up-circle: '\e934';
$icon-chevron-down-circle: '\e935';
$icon-chevron-left: '\e907';
$icon-chevron-right: '\e908';
$icon-chevron-down: '\e909';
$icon-chevron-up: '\e90a';
$icon-swipe-gesture: '\e906';
$icon-calendar: '\e902';
$icon-chair: '\e903';
$icon-map-marker: '\e904';
