// -----------------------------------------------------------------------------
// SCROLL ANIMATION
// -----------------------------------------------------------------------------

.scroll-animation {
  opacity: 0;
  transform: translate3d(0, 24px, 0);
  transition: all .7s ease-out;
  transition-delay: .2s;

  &.in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}