// -----------------------------------------------------------------------------
// FONT
// -----------------------------------------------------------------------------

$encodesans-font-path:  "../fonts" !default;


// Thin
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Encode Sans';
  src: url('#{$encodesans-font-path}/EncodeSans-Thin.woff2') format('woff2'),
    url('#{$encodesans-font-path}/EncodeSans-Thin.woff') format('woff'),
    url('#{$encodesans-font-path}/EncodeSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


// Extra Light
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Encode Sans';
  src: url('#{$encodesans-font-path}/EncodeSans-ExtraLight.woff2') format('woff2'),
    url('#{$encodesans-font-path}/EncodeSans-ExtraLight.woff') format('woff'),
    url('#{$encodesans-font-path}/EncodeSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


// Light
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Encode Sans';
  src: url('#{$encodesans-font-path}/EncodeSans-Light.woff2') format('woff2'),
    url('#{$encodesans-font-path}/EncodeSans-Light.woff') format('woff'),
    url('#{$encodesans-font-path}/EncodeSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


// Regular
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Encode Sans';
  src: url('#{$encodesans-font-path}/EncodeSans-Regular.woff2') format('woff2'),
    url('#{$encodesans-font-path}/EncodeSans-Regular.woff') format('woff'),
    url('#{$encodesans-font-path}/EncodeSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


// Medium
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Encode Sans';
  src: url('#{$encodesans-font-path}/EncodeSans-Medium.woff2') format('woff2'),
    url('#{$encodesans-font-path}/EncodeSans-Medium.woff') format('woff'),
    url('#{$encodesans-font-path}/EncodeSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


// Semibold
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Encode Sans';
  src: url('#{$encodesans-font-path}/EncodeSans-SemiBold.woff2') format('woff2'),
    url('#{$encodesans-font-path}/EncodeSans-SemiBold.woff') format('woff'),
    url('#{$encodesans-font-path}/EncodeSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}